* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#screen2, #screen3 {
  display: none;
  flex-direction: column;
}
