* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.screen {
  height: 100vh;
  display: flex;
}

#screen1 {
  justify-content: center;
  align-items: center;
}
#screen2 {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#screen3 {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#screen4 {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#screen5 {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#screen6 {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#screen7 {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
